.success-notification{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgba(0,255, 0, 0.2);
    
    >p{
        padding: 10px 10px 10px 10px;
        margin-bottom: 0;
    }
}

.error-notification{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgba(255,0,0, 0.2);

    >p{
        padding: 10px 10px 10px 10px;
        margin-bottom: 0;
    }
}